body{
    font-family: 'poopins','sans-serif';
    color: #444;
    padding: 0px 40px;
}
nav{
    
    background: #cecece;
}
a{
    color: #444;
    text-decoration: none;
}
nav ul{
    padding: 0px;
    text-align: center;
}

nav li{
    display: inline-block;
    list-style: none;
    border-bottom: 1px solid black;
    margin: 15px 20px;
    font-size: 20px;
    text-transform: uppercase;
}
section{
    margin-top: 50px;
}
h1,h2,h3{
    color: #222;
}
h2{
    border-bottom: 1px solid #4444;
}